.mainContent {
  padding: 24px 24px 0 0;
  margin-left: 24px;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
  padding: 0 5px;
}

.description {
  margin-top: 15px;
  padding: 0 5px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 14px;
}