.thumbnail {
  width: 168px;
  height: 94px;
  background-color: #cccccc;
  background-size: cover;
  flex-shrink: 0;
  background-position: center;;
  margin-right: 8px;
  @media (max-width: 550px) {
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    height: unset;
  }
}
.movie {
  display: flex;
  @media (max-width: 550px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.title {
  color: #030303;
  font-weight: 500;
  margin-top: 4px;
  font-size: 14px;
  @media (max-width: 550px) {
    margin-top: 8px;
  }
}

.details {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #606060;
}

.detailsInner {
  margin-top: 4px;
  display: flex;
}